
/* Blue */

$port80: #6397C7; //rgba(99,151,199,1);
$turq: #5CAFBF;
$blue: #0065bd;
$steel: #4A7094;
$denim: #50667f;
$dusk: #26428d;

/* Red */
$pandh: #ec1c24;
$red-soft: #E54430;
$pink-bubblegum: #fb8ed7;
$wine: #bf0024;
$ketchup: #d9534f; //danger alert

/* Orange */
$orange-light: #eea236;
$orange-dark: #ff8000;
$orange-medium: #ffa900;
$mustard: #f0ad4e; //warning alert

/* Yellow */
$highlight: #FFFACD; //lemonchiffon on input number boxes
$yellow: #ffd119;
$alert :#f4ed00; //shown on form validation

/* Green */
$green: #449d44;

/* Purple */
$cool_purple:  mix($pandh, $blue, 50%);

/* Pandh Labels */
$ambient: #FFC107;
$chilled: #8BC34A;
$frozen: #4FC3F7;
$tobacco: #8D6E63;