
$white: #fff;
$alabaster: #fafafa;
$off-white: #f1f2f3;
$light-grey: #eee;
$medium-grey-light: #ddd;
$medium-grey: #ccc;
$medium-grey-dark: #aaa;
$dark-grey: #888;
$charcoal: #575757;
$font-grey: #444;
$black: #111;
