.divider {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 35px 0;
    background-color: $medium-grey-light;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, .75)), color-stop(.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, .75)));
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, .75) 100%);
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, .75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, .75) 100%);
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, .75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, .75) 100%);
        background-image: -ms-linear-gradient(left, rgba(255, 255, 255, .75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, .75) 100%);
        background-image: linear-gradient(left, rgba(255, 255, 255, .75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, .75) 100%);
    }
}

.p0 {
    padding: 0;
}

.p15 {
    padding: 15px;
}
